body {
  font: 20px Montserrat, sans-serif;
  color: #ffffff;
}
p {
  font-size: 16px;
}
hr {
  margin-top: 5px;
  margin-bottom: 0px;
}
span.it {
	font-style: italic;
}
span.bo {
	font-weight: bold;
}
.bg-1 {
  background-color: #ffffff;
  color: #555555;
}
.bg-2 {
  background-color: #222;
  border-color: #080808;
}
.margin {
  margin-bottom: 45px;
}
.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar {
  padding-right: 5%;
  padding-left: 5%;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
}
.navbar-nav  li a:hover {
    color: #ffffff !important;
}
.btn-link {
  padding: 0px 0px;
}
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}
@media screen {
  #special-size {
    width: 100%;
    height: 100vh;
  }
}

/* Parallax */
.bgimg-1 {
    /* The image used */

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bgimg-1 {
  background-image: url("../images/img_parallax1.JPG");
  min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.pos-1 {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 70%;
  text-align: center;
  text-shadow: 2px 2px #000000;
}



/* Contact Form style */
.form-signin {
  max-width: 330px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
